@page
@model WebApplication1.Pages.People.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.People[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].SupportStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].ClientType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].ContactType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.People) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactType.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
